body{font-family:arial;}


#nav{
width:100%;
position:sticky;
position:-webkit-sticky;
background-image: url("water.png");
font-size:30px;
color:rgba(255, 255, 255, 0.726);
height:230px;
border-radius: 30px;
box-shadow: 0px 0px 25px -4px #545454;
font-weight: bold;


}

::selection{
    background-color: #660000;color: #fff;
}


h1{margin:0;text-align:center;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

button{
    width:15%;
    height:40px;
    font-size:17px;
    border-radius:20px;
    border:0;
    background:linear-gradient(#efefef, #660000);
    cursor:pointer;
    box-shadow: 0px 0px 25px -4px #545454; 
    transition-duration: 0.75s;
}

button:hover{
    box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.78)
    ;
}

p{line-break: loose;}



#ft{
width:100%;
height: max-content;
background:grey;
color:white;
bottom:0;
position:sticky;
position: -webkit-sticky;
height:50px;
font-size:20px;
font-family: segoe ui emoji;
border-radius:50px ;
box-shadow: 0px 0px 25px -4px #545454; 
}


 
 
#round{ 
    width: 100%; 
    height: max-content; 
    border-radius: 30px; 
    background: #e0c6aa; 
    box-shadow: 0px 0px 25px -4px #545454; 
} 
 
marquee { 
    font-size: 30px; 
} 
 
#inv{
    border-radius: 0%;
    box-shadow: 0px 0px 25px -4px #545454;
    margin-left: 100px;

}

::-webkit-scrollbar{ 
    display: none; 
} 
 
 
#head{ 
     
    display: flex; 
    align-items: center;
    justify-content: space-around;


}

img{
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


#heading{
    font-size: 50px;
    margin-bottom: 10px;
}

#yt{
    width: 100%; 
    height: max-content; 
    border-radius: 30px; 
    background: #e0c6aa; 
    box-shadow: 0px 0px 25px -4px #545454; 
    
}#tabs{
    width: 100%; 
    height: max-content; 
    border-radius: 30px; 
    background: #e0c6aa; 
    box-shadow: 0px 0px 25px -4px #545454; 
    
}

#trans{
    margin-left:750px ;
}

iframe{
    border-radius: 30px; 
    box-shadow: 0px 0px 25px -4px #545454; 
}

